* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
  color: white;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  width: 80%;
  margin-inline: auto;
  text-align: center;
}

div p {
  font-size: 1.2em;
  padding-top: 2em;
  padding-bottom: 2em;
}

form button {
  padding: 5px 10px;
  border-radius: 20px;
  border: 0px;
  font-size: 1em;
}
